/* GENERAL STYLING */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
}

/* VARIABLES  */
:root {
    --LIGHT-RED: hsl(356, 100%, 66%);
    --LIGHTER-RED: hsl(355, 100%, 74%);
    --DARK-BLUE: hsl(208, 49%, 24%);
    --WHITE: hsl(0, 0%, 100%);
    --GRAYISH-BLUE: hsl(240, 2%, 79%);
    --DARK-GRAYISH-BLUE: hsl(207, 13%, 34%);
    --DARK-BLACK-BLUE: hsl(240, 10%, 16%);
    --LIGHTER-RED: hsl(13, 100%, 72%);
    --LIGHT-RED: hsl(353, 100%, 62%);
    --DARKER-GRAY-BLUE: hsl(237, 17%, 21%);
    --DARK-SATURATED-BLUE: hsl(237, 23%, 32%);
}
