/* GENERAL STYLING  */
:root {
    --PEACH: #E7816B;
    --LIGHT-PEACH: #ffad9b;
    --SLIGHT_BLACK: #1D1C1E;
    --LIGHT_GRAY:  #1D1C1E;
    --GREY: #1D1C1E;
    --BLACK: #000;
    --WHITE: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
}

header,
main {
    max-width: 1400px;
    margin: .7rem auto;
}

/* NAVIGATION STYLING  */

nav .container {
    height: 40px;
    display: flex;
    gap: 24px;
    z-index: 1;
    justify-content: space-between;
    font-size: .8em;
    align-items: center;
}

.nav-link ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style: none;
}


nav a:hover,
nav a:focus {
    color: var(--BLACK);
}
/* UTILITY CLASSES */
.bar {
    display: none;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link a {
    color: hsla(0, 0%, 0%, 0.592);
    padding: 0 25px;
}

.logo-img {
    display: flex;
    gap: .5rem;
    z-index: 1;
}

.nav-icon {
    padding-top: 8.5px;
}

/* HERO  */

.header-hero {
    display: flex;
}

.btn {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
}
.btn-1 {
    background-color: var(--LIGHT-PEACH);
}
.btn-1:hover {
    filter: brightness(90%);
}
.header-hero {
    display: flex;
    color: var(--BLACK);
}

/* MOBILE VIEW  */

@media screen and (max-width: 560px) {
    /* MOBILE NAVIGATION */
    .nav-link {
        display: none;
    }
    header {
        
    }

    .logo-img {
        padding-left: 20px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .bar {
        display: block;
        padding-right: 6%;
        padding-top: -15px;
        color: #000;
        font-weight: 800;
        font-size: 25px;
    }

}