/* GENERAL STYLING  */
:root {
    --PEACH: #E7816B;
    --LIGHT-PEACH: #ffad9b
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
}

/* NAVIGATION STYLING  */
nav .container {
    margin: auto;
    height: 50px;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}

.nav-link ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style: none;
}

.bar {
    display: none;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link a {
    color: #00000097;
    padding: 0 40px;
}

.logo-img {
    display: flex;
    gap: .5rem;
    padding: 0 50px;
    z-index: 1;
}

nav a:hover,
nav a:focus {
    color: #000;
}

/* HERO  */

.header-hero {
    display: flex;
}

.hero-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 1rem;
}

.btn {
    cursor: pointer;
}

/* MEDIA QUERIES */
/* MOBILE VIEW  */

@media screen and (max-width: 480px) {
    .header-hero {
        background: #E7816B;
        height: 670px;
        overflow: hidden;
        position: relative;
       max-width: clamp(300px, 100vw, 480px);
    }

    .nav-link {
        display: none;
    }

    .logo-img {
        padding-left: 7%;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
    }

    .bar {
        display: block;
        padding-right: 10%;
        padding-top: 15px;
        color: #000;
        font-weight: 800;
    }

    .hero-content {
        text-align: center;
        margin: 2rem auto;
        align-items: center;
        z-index: 1000;
    }

    .hero-content h2 {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .hero-content p {
        font-weight: 400;
        font-size: 1rem;
    }

    .btn-1 {
        background-color: #fff;
        color: #000;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        height: 50px;
        text-transform: uppercase;
    }

    .btn-1:hover {
        background-color: #ddd;
    }

    .hero-img {
        border-radius: 640px;
        opacity: 0.3089;
        background: linear-gradient(90deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);
        position: absolute;
        right: 20px;
        bottom: 10px;
        width: 600px;
        height: 600px;
    }

    .iphone {
        position: absolute;
        display: flex !important;
        justify-content: center;
        margin-top: -25%;
        align-items: center;
        margin-left: -47%;
    }
}

@media screen and (max-width: 900px) {}