/* GENERAL STYLING  */
:root {
    --PEACH: #E7816B;
    --LIGHT-PEACH: #ffad9b;
    --SLIGHT_BLACK: #1D1C1E;
    --LIGHT_GRAY: #1D1C1E;
    --GREY: #1D1C1E;
    --BLACK: #000;
    --WHITE: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: block;
    padding: 5% 20%;
}



body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
main {
    width: min(100% - 2vw, 1128px);
    margin-inline: auto;

}

img {
    display: block;
    max-width: 100%;
}

/* GENERAL UTILITY */
.btn {
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    width: fit-content;
}

.btn-1 {
    background-color: var(--LIGHT-PEACH);
    color: var(--WHITE);
}

.btn:hover {
    filter: brightness(90%);
}

/* HEADER  */

/* NAVIGATION STYLING  */
nav .container {
    height: 40px;
    display: flex;
    gap: 24px;
    z-index: 1;
    justify-content: space-between;
    font-size: .8em;
    align-items: center;
}

nav a:hover,
nav a:focus {
    color: var(--BLACK);
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
}

/* NAV UTILITY CLASS */
.nav-link ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style: none;
}

.bar {
    display: none;
}

.nav-link a {
    color: hsla(0, 0%, 0%, 0.592);
    padding: 0 25px;
}

.logo-img {
    display: flex;
    gap: .5rem;
    z-index: 1;
}

.nav-icon {
    padding-top: 8.5px;
}

/* // END UTILITY NAV CLASS  */
/* HERO  */
.header-hero {
    margin-top: 3rem;
    display: flex;
    background-color: var(--PEACH);
    border-radius: 15px;
    gap: 4rem;
    height: 640px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 40px;
    gap: 1rem;
    color: var(--WHITE);
    width: 50%;
}

.hero-content h2 {
    font-weight: 500;
    font-size: clamp(32px, 9vw, 48px);
    line-height: 48px;
}

.hero-content p {
    font-size: 16px;
    font-weight: 400;
}

/* HERO IMG  */
.header-hero {
    display: flex;
}

.hero-img :nth-child(2) {
    margin-top: -35.5rem;
    margin-left: 130px;


}

/* HERO */


/* HERO UTILITY CLASS */




/* MOBILE VIEW  */

@media screen and (max-width: 560px) {

    /* MOBILE NAVIGATION */
    .nav-link {
        display: none;
    }

    .logo-img {
        padding-left: 20px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .bar {
        display: block;
        padding-right: 6%;
        padding-top: -15px;
        color: #000;
        font-weight: 730;
        font-size: 25px;
    }

    header,
    main {
        width: 100%;
    }

    .header-hero {
        width: 100% !important;
        flex-direction: column;
        border-radius: 5px;
        height: 800px;
        text-align: center;
        margin-top: 1rem;
        overflow: hidden;

    }

    .hero-content {
        width: 100% !important;
        align-items: center;
        margin-top: 3.5rem;
        padding: 0 !important;
        text-align: center;
    }
    .hero-content h2 {
        line-height: 35px;
    }
    .hero-content p {
        line-height: 20px;
    }

    .hero-img {
        /* display: none; */
        margin-top: 10rem;
        margin-left: 6%
    }

}