@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

/* NAVIGATION BAR  */
header {
    background: linear-gradient(114deg, #3540AD 20.99%, rgba(53, 64, 173, 0.55) 102.95%);
    height: 700px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 10px;
    max-width: 1400px;
    margin: .8rem auto;
    text-transform: capitalize;
}

nav ul {
    list-style: none;
    cursor: pointer;
    display: flex;
}

nav a {
    text-decoration: none;
    padding-left: 40px;
    color: rgba(255, 255, 255, 0.50);
}

.contact {
    display: flex;
    gap: .8rem;
    padding-right: 40px;
    color: #fff;
    font-size: .8rem;
}

.p-number {
    padding-top: .6rem;

}

nav a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.783);
}

/* HERO CONTENT  */
.header-hero {
    margin: 4rem auto;
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: rgba(255, 255, 255, 0.60);
}

.hero-para {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 3.1px;
    text-transform: uppercase;
}

.header-hero h2 {
    color: rgba(255, 255, 255, 0.90);
    font-family: Inter;
    font-size: 57px;
    font-style: normal;
    font-weight: 300;
    line-height: 67px;
    /* 117.544% */
    letter-spacing: -0.25px;
}

.header-hero span {
    color: #4AE1EB;
    font-family: Inter;
    font-size: 57px;
    font-style: normal;
    font-weight: 450;
    line-height: 67px;
    letter-spacing: -0.25px;
    display: block;
}

.cont-info {
    border-radius: 0px 42px 42px 0px;
    background: linear-gradient(269deg, rgba(217, 217, 217, 0.21) 34.89%, rgba(217, 217, 217, 0.00) 102.62%);
    box-shadow: 0px 4px 15px 0px rgba(52, 68, 69, 0.30), 20px -20px 50px 0px rgba(74, 225, 235, 0.40) inset;
    backdrop-filter: blur(27px);
    display: flex;
    padding: 24px 23px 24px 156px;
    color: #fff;
    padding: 25px -5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: rem 0 !important;
    width: 680px;
}